/* CSS Reset */
* {
    margin: 0%;
    padding: 0%;
}

/* Navigation bar */

#navbar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: palevioletred;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: logo and image */
#logo {
    margin: 1px 0px;
}

#logo img {
    height: 69px;
    margin: 1px 1px;
}

/* navigation Bar: list styling */
#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}

#navbar ul li a {
    display: block;
    padding: 2px 30px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    color: black;
    background-color: palevioletred;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 606px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background-image: url(images/bg15.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 630px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.99;
}

#home h1 {
    color: palevioletred;
    text-align: center;
    font-size: 3.4rem;
    font-family: 'Times New Roman', Times, serif
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif
}

/* Category Section */
#categories {
    margin: 34px;
    display: flex;
}

#categories .box {
    border: solid 2px palevioletred;
    padding: 34px;
    margin: 2px 25px;
    border-radius: 28px;
    background-color: rgb(242, 233, 236);
    margin-bottom: 20px;
}

#categories .box img {
    height: 160px;
    display: block;
    margin: auto;
}

#categories .box p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

/* About Section */

#about-section {
    display: flex;
    margin: 23px;
}

#about-section::before {
    content: "";
    /* background-color: palevioletred; */
    position: absolute;
    background-image: url(images/10.jpg);
    height: 278px;
    width: 98%;
    z-index: -1;
    opacity: 0.4;

}

#abt {
    display: flex;
}

#about-section .about img {
    height: 225px;
    width: 229px;
    margin: 27px 103px;
}

#about-section .about h2 p {
    font-family: 'Times New Roman', Times, serif;
}

#about-section .about p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

/* Why Choose Section */
#why-choose {
    margin: 34px;
    /* display: flex; */
}

#why-choose p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

#choose-card {
    display: flex;
    gap: 67px;
    margin: 34px;
    height: 374px;
}

.card {
    border: solid 2px palevioletred;
    background-color: rgb(253, 199, 217);
    justify-content: baseline;
    width: 35%;
    margin: 12px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 19px 16px;
}

.container p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

.container h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
}

/* Newsletter and Contact Section */
#n-c-section {
    margin: 34px;
}

#n-c-section {
    content: "";
    /* background-color: #FFF8F5 (Floral White); */
    position: absolute;
    /* background-image: url(images/10.jpg); */
    height: 278px;
    width: 95%;
    z-index: -1;
    /* opacity: 0.4; */
}

#n-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    margin: 3px;
    padding:1px 2px;
}

/* newsletter-section */
#newsletter-section{
    padding: 23px;
}

/* Utility class */
.h-primary {
    font-size: 3.4rem;
    padding: 12px;
}

.h-secondary {
    font-size: 2rem;
    padding: 12px;
}

.h-tertiary {
    font-size: 1.5rem;
    padding: 12px;
}

.center {
    text-align: center;
}

.btn {
    padding: 3px 30px;
    background-color: palevioletred;
    color: white;
    font-size: 1.2rem;
    margin: 17px;
    border-radius: 17px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}